.colores{
    color:#EFF0F1; /*gris claro fondo del body*/
    color:#FDFDFD; /*gris claro barra principal*/
    color: #bfbfbf; /*gris oscuro bordes bajos*/
    color:#FFA748; /*naranja principal*/
    color:#ff8807;/*naranja intenso*/
    color:#0B2335; /*azul oscuro principal*/
    color:#fff; /*blanco fondo tip*/
    color: #CA2E4D; /*magenta*/
}